.code {
	height: calc(100vh - 56px);
}
.code > div {
	height: 100%;
}
.message-avatar {
	display: none;
}
.message-received .message-text, .message-received .message-name {
	margin-left: 8px !important;
}
.message-sent .message-text {
	margin-right: 8px !important;
}
.message-text .control {
	width: 100%;
}
.message-text  img:parent {
	    background-color: #eeeeef !important;
}
.message.full-width,.message.card-message {
	max-width: calc(100% - 15px) !important;
}
.message-received .message-avatar {
	display: block;
	position: static;
	margin-top: 0px;
	width: auto !important;
	height: auto !important;
}
.message.card-message .message-text {
	margin-left: 0px !important;
	background: transparent !important;
	padding: 0px;
}
.message.card-message .message-text > * {
	margin: 0px;
	background: #fefefe !important;
}

#loading-layer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 0px;
	overflow: hidden;
	background: #fff;
	transition:all 350ms ease-in-out;
}
#loading-layer.show {
	height: 55px;
}
#loading-layer.show #loader{
	display: inline-block;
}
#loader {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 65%;
  width: 90px;
  display: none;
}
#loader ul {
  margin: 0;
  list-style: none;
  width: 90px;
  position: relative;
  padding: 0;
  height: 10px;
}
#loader ul li {
  position: absolute;
  width: 8px;
  height: 0;
  background-color: #222;
  bottom: 0;
}
@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 25px;
  }
  100% {
    height: 10px;
  }
}
@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 20px;
  }
}
#loader li:nth-child(1) {
  left: 0;
  animation: sequence1 1s ease infinite 0;
}
#loader li:nth-child(2) {
  left: 15px;
  animation: sequence2 1s ease infinite 0.1s;
}
#loader li:nth-child(3) {
  left: 30px;
  animation: sequence1 1s ease-in-out infinite 0.2s;
}
#loader li:nth-child(4) {
  left: 45px;
  animation: sequence2 1s ease-in infinite 0.3s;
}
#loader li:nth-child(5) {
  left: 60px;
  animation: sequence1 1s ease-in-out infinite 0.4s;
}
#loader li:nth-child(6) {
  left: 75px;
  animation: sequence2 1s ease infinite 0.5s;
}
